server:
  port: 8081

spring:
  application:
    name: dooribank-be
  server:
    timezone: Asia/Seoul
  
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /api-docs

# 우리두리 API 서버 URL (8080 서버)
wooridoori:
  api:
    url: ${WOORIDOORI_API_URL:http://localhost:8080}

